<!DOCTYPE html>
<html>
<head>
<title>Project Konran</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="style.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
  body,h1,h5 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  .bgimg {
    background-image: url(../static/images/Background-website-01-1024x687.jpg);
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
  h1 {
    color:black;
    font-size: 24px; 
  }
</style>
<!-- <script  type="text/javascript" src="../controller.js" defer></script>
<script  type="text/javascript" src="../send_request.js"></script> -->
<script  type="text/javascript" src="../static/extension.js"></script>
</head>
<body style="width: 400px;">

<div style="width: 400px;" class="bgimg w3-display-container w3-text-black">
  <div class="w3-display-topmiddle w3-jumbo">
    <img src="../static/images/logo2.png">
  </div>
  <div class="w3-display-middle" style="height:200px; width: 400px; padding-left: 50px; padding: 20px;">
    <h5 style="background-color: transparent; margin-bottom: 5px;">URL:</h5>
    <form action="/" id="form" method="POST"> 
      <input type="text" id="url" name="url" style="width: 280px; border-style:solid" placeholder="Insert the URL here">
      <button type="submit" form="form" class="w3-button w3-indigo" style="padding-top: 13px; padding-bottom: 15px; margin-bottom: 4px;"> Check </button>
    </form>
   <div id="containerthing" class="card" style="width: 400; background-color: white; padding: 5px;">
     <div id="bullets">
      <h5 style="font-weight:bold">Privacy Policy:</h5>
      <li>
        Twitch collects personal information from its users, such as name, email address, and IP address.
      </li>
      <li>
        Twitch uses this data to provide its services, including streaming video, chat, and other features.
      </li>
      <li>
        Twitch may also use this data to personalize content, improve its services, and provide targeted advertising.
      </li>
      <li>
        Twitch may share personal information with third parties in certain circumstances, such as to comply with legal obligations, protect users’ rights, or to prevent fraud or abuse.
      </li>
      <li>
        Twitch may also use cookies and other tracking technologies to collect usage data about its users.
      </li>
    </div>   
  </div>
  </div>
</div>
</body>
<!-- <div name="display_info">
  <text>hi hi hi</text>
</div> -->

